@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

/* @custom-variant dark (&:where(.dark, .dark *)); */

/* :root {
    --font-family: poppins;
    --font-playfair: 'Playfair Display', serif;
    --font-poppins: 'Poppins', sans-serif;

} */

@theme {
    --font-sans: 'Instrument Sans',
        ui-sans-serif,
        system-ui,
        sans-serif,
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        'Noto Color Emoji';


    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-gray-50: #1A1A1A;
    --color-accent: #C7AE6A;
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);

    --font-playfair: 'Playfair Display', serif;
    --font-inter: 'Inter', sans-serif;
    --font-poppins: 'Poppins', sans-serif;
}

@layer base {
    .font-playfair {
        font-family: var(--font-playfair);
    }

    .font-poppins {
        font-family: var(--font-poppins);
    }
}

@layer theme {
    .dark {
        --color-accent: #C7AE6A;
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
        --font-playfair: 'Playfair Display', serif;
        --font-inter: 'Inter', sans-serif;
        --font-poppins: 'Poppins', sans-serif;
    }
}

@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
<<<<<<< HEAD
} */

    body {
        font-family: var(--font-poppins);

    }

    .sidebar {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 60px;
    }

    .sidebar a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;

    }

    .sidebar a:hover {
        color: #f1f1f1;

    }

    .sidebar .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    .openbtn {
        font-size: 20px;
        cursor: pointer;
        background-color: #111;
        color: white;
        padding: 10px 15px;
        border: none;
        position: fixed;
        top: 15px;
        right: 15px;
        z-index: 5;
    }

    /* Desktop Navigation Styles */
    .desktop-nav {
        display: none;
        /* Hidden by default */
        width: 100%;
        background-color: #e7e7e7;
        padding: 1rem 0;

    }

    .desktop-nav .nav-links {
        display: flex;
        justify-content: space-around;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .desktop-nav .nav-links a {
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
        color: #333;
        padding: 0.5rem 1rem;
        margin: 0;
    }

    .desktop-nav .nav-links a:hover {
        color: #000000;
        /* background-color: #ffffff; */
        border-radius: 5px;
        /* padding: 10px 100px; */
        /* transition: 0.3s ease-in-out; */

    }

    .main-content {
        padding: 16px;
    }

    /* Media Query for Desktop */
    @media (min-width: 768px) {

        .openbtn,
        .sidebar {
            display: none;
        }

        .desktop-nav {
            display: block;

            /* Show desktop navigation on larger screens */
        }
    }

    /* Media Query for Mobile (less than 768px) */
    @media (max-width: 767px) {
        .desktop-nav {
            display: none;
            /* Hide desktop navigation on smaller screens */
        }

        .openbtn {
            display: block;
        }
    }

=======
} */
>>>>>>> main
